<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346486637648-0iag9k94rq03m02qbscsn2v8rdkkfpal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346486637648-0iag9k94rq03m02qbscsn2v8rdkkfpal</string>
	<key>API_KEY</key>
	<string>AIzaSyDfo-1IChQZKNgm4BFU6mgVeuE4girZkT4</string>
	<key>GCM_SENDER_ID</key>
	<string>346486637648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentApplication</string>
	<key>PROJECT_ID</key>
	<string>quantum-it-solutions</string>
	<key>STORAGE_BUCKET</key>
	<string>quantum-it-solutions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346486637648:ios:d7f432e8dc79af00737d55</string>
</dict>
</plist>